@model IEnumerable<ECommerce.Models.DisplayViewModel>

@{
    ViewBag.Title = "Product page";
}

<div class="row pb-3">
    <div class="col-8">
        <h3>

            <strong>Products</strong>
        </h3>
    </div>
</div>
<div class="row px-4">
    @foreach (var item in Model)
    {
        <div class="col-12 col
             -md-6 col-lg-3 ">
            <div class="card">
                @foreach (var item2 in item.ImageViewModelsList)
                {
                    <img class="card-img-top" src="@item2.ImagePath" alt="Unsplash">
                }
                <div class="card-header">

                    <h3>Name: @item.ProductName </h3>
                </div>
                <div class="card-body">
                    <p class="card-text">Price : @item.ProductPrice</p>
                </div>
                <div class="d-grid gap-2">
                    <a href="#" class="btn btn-primary btn-md" id="DetailsBtn()" type="button">Learn More</a>
                </div>
            </div>


        </div>
    }


</div>